.header-container {
    background-color: #00A2E1;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding:  0 35px;
    height: 5vh;
}

.header-link {
    text-decoration: none;
    color: inherit;
    border: none;
    background-color: transparent;
}

.left-header-container {
    display: flex;
    gap: 10px;
    font-size: 28px;
}

.right-header-container  {
    display: flex;
    gap: 25px;
}

.header-link-container {
    display: flex;
    gap: 10px;
}

.unilife-header-title {
    text-decoration: none;
    color: inherit;
}